{#{% load filter_tags %}#}


<div class="like_list">
  {% for post in posts %}
    <h5 style="color: darkred">{{ post.title }}</h5>
    <p>{{ post.body }}</p>
    <form action="{% url 'like:like-post' %}" method="POST">
      {% csrf_token %}
      <input type="hidden" name="post_id" value="{{ post.id }}">
      {% if user not in post.liked.all %}
{#        <a href="{% url 'like_app:like-post' post.id %}" id="like-positive">#}
{#        </a>#}
        <button type="submit" class="btn btn-sm btn-outline-info"><i class="bi bi-heart-fill"></i></button>
      {% else %}
{#        <a href="{% url 'like_app:like-post' post.id %}" id="like-negative">#}
{#        </a>#}
        <button type="submit" class="btn btn-sm btn-info"><i class="bi bi-heart-fill"></i></button>
      {% endif %}
    </form>
    <strong>{{ post.liked.all.count }} likes</strong>
    <hr>
  {% endfor %}
</div>

