{#{% load filter_tags %}#}

<table >
  <thead>
    <tr>
      <th>Resume</th>
      <th>Favorite</th>
    </tr>
  </thead>
  <tbody>
  {% for cv in resumes %}
    {% csrf_token %}
    <tr>
      <td>{{ cv.cv }}</td>

      <!-- Favorite CV -->

      <td >
        {% if user not in cv.liked.all %}
          <a href="{% url 'cv_app:bookmark' cv.id %}" id="bookmark" class="add-remove-bookmark">
            Add Bookmark
          </a>
        {% else %}
          <a href="{% url 'cv_app:bookmark' cv.id %}" id="bookmark" class="add-remove-bookmark">
            Remove Bookmark
          </a>
          <span data-count="bookmark">{{ cv.liked.all.count }}</span>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>