{#{% load filter_tags %}#}

<table >
  <thead>
    <tr>
      <th>Resume</th>
      <th>Favorite</th>
    </tr>
  </thead>
  <tbody>
  {% for cv in articles %}
    {% csrf_token %}
    <tr>
      <td>{{ cv.cv }}</td>

      <!-- Favorite CV -->
{#      <td>#}
{#        <a href="{% url 'ajax:bookmark' cv.id %}" data-id="{{ cv.id }}" data-type="article" data-action="bookmark" title="Закладки">#}
{#          <button type="button" class="btn btn-outline-info"><i class="bi bi-heart-fill"></i></button>#}
{#        </a>#}
{#        <span data-count="bookmark">{{ cv.get_bookmark_count }}</span>#}
{#      </td>#}
      <td >
        <a href="{% url 'cv_app:bookmark' cv.id %}" id="bookmark" class="add-remove-bookmark">
          Add Bookmark
        </a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>