<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <title> {% block title %} Main {% endblock %}</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"
          crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
  <!-- Custom styles for this template -->
{#  <link rel="stylesheet" href="{% static 'css/main.css' %}">#}

</head>

<body>

<!-- Navigation -->
{#  {% include 'mainapp/includes/inc_navbar.html' %}#}

<!-- Header -->
{#  {% include 'mainapp/includes/inc_header.html' %}#}

<!-- Page Content -->
{% block content %}

{% endblock %}

<h1>CV Function</h1>
<i class="bi bi-heart-fill" style="font-size: 2rem; color: crimson;"></i>


<div class="add-remove-bookmark">
  {% include 'cv_app/includes/inc_favorits.html' %}
</div>


<a href="{% url 'ajax:index' %}"><h5>Ajax Function</h5></a>
<a href="{% url 'mainapp:index' %}"><h5>AddFavorite Function</h5></a>
<!-- Footer -->

<!-- /.footer -->


<!-- JavaScript -->
{#  <script src="{% static 'js/csrf.js' %}"></script>#}
{#  <script src="{% static 'js/ajax1.js' %}"></script>#}

<script>
 $( document ).ready(function(){
    {#$(".add-remove-bookmark").click(function (e) {#}
    $("#bookmark").click(function (e) {
        if ($(this).html() === "Add Bookmark") {
            $(this).html('Remove Bookmark');
        }
        else {
            $(this).html('Add Bookmark');
        }
    });
  });

</script>


<!-- Bootstrap core JavaScript -->
{#   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>#}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

</body>

</html>
